title: Research Notes
description: Research scratchpad and findings
baseurl: "/research-notes"
url: "https://ottokruse.github.io"
theme: minima

plugins:
  - jekyll-feed
  - jekyll-seo-tag

minima:
  skin: auto

# Default layouts for content
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "page"
